body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 16px 200px;
    width: auto;
    height: 350px;

}

.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin-left: auto;
}

a, .sub {
    color: #e5e7eb;
    size: 18px;
    text-decoration: none;
}

.hero {
    margin-top: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 8px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-img {
    max-width: 600px;
    max-height: 250px;
    height: auto;
    width: auto;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    text-align: center;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    border: none;
    text-decoration: none;
    font-weight: bold;
}